pkgbase = otf-comic-code-git
	pkgdesc = Comic Code terminal font (OTF)
	pkgver = f38ee2896ae8727f13d21efb6d09c739e367651b
	pkgrel = 1
	url = https://github.com/secdrill/Fonts
	arch = any
	license = unknown
	makedepends = git
	provides = otf-comic-code-git
	conflicts = otf-comic-code-git
	source = otf-comic-code-git::git+https://github.com/secdrill/Fonts
	sha256sums = SKIP

pkgname = otf-comic-code-git
